@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
}

body {
    background: rgb(22, 36, 71);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background: rgba(15,31,51,1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.header h1, .section .title {
    user-select: none;
}

.svg-button {
    position: relative;
    margin-left: 0.5em;
    background-color: rgba(31,64,104,1);
    border-radius: 50%;
    border: none;
    box-shadow: inset 0 0 5px 1px rgba(255,255,255,0.2);
    flex-shrink: 0;
    width: 2em;
    height: 2em;
}

.svg-button, .svg-button path {
    transition: 0.5s;
}

.svg-button svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.svg-button path {
    fill: white;
}

.svg-button:hover {
    background-color: white;
    box-shadow: inset 0 0 5px 1px rgba(31, 64, 104,0.2);
    transform: rotateY(180deg);
    cursor: pointer;
}

.svg-button:hover path {
    fill: rgb(22, 36, 71);
}

.svg-button:focus {
    outline: 0;
}

.add-button {
    width: 1.5em;
    height: 1.5em;
}

.delete-button svg {
    width: 1.3em;
    height: 1.3em;
}

.container {
    flex: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
}

.section {
    z-index: 10;
    margin: 0.5em;
    flex: 25%;
    max-width: 25%;
    background: linear-gradient(0deg, #1f4068 0px, #1f4068 calc(100% - 3.5em), #0f1f33 calc(100% - 3.5em), #0f1f33 100%);
    border-radius: 15px;
    min-height: 30em;
    padding: 1.5em 0 0.5em;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    padding-bottom: 0.5em;
}

.dropzone {
    margin: 1em 0.5em 0;
    padding: 0.5em 0.5em 2em;
    flex: 1;
    border-radius: 1em;
    transition: 0.1s ease;
}

.dz-highlight {
    background: rgba(0,0,0,0.1);
    border: 1px dotted rgba(255,255,255,0.7);
}

.kanban {
    background: #162447;
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: column;
    transition: 0.2s;
}

.kanban-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0.25em;
    margin-bottom: 0.1em;
    position: relative;
}

.kanban-header:after {
    display: block;
    content: '';
    position: absolute;
    width: calc(100% + 2em - 2px);
    height: 1px;
    background: #0f1f33; 
    top: 100%;
    left: 0;
    margin: 0 calc(-1em + 1px);
}

.being-dragged {
    opacity: 0.3;
    cursor: move;
}

.priority {
    flex: 2.5em;
    height: 0.5em;
    border-radius: 0.25em;
    margin-right: 0.5em;
    border: none;
    outline: 0;
    transition: 0.5s;
}

.priority.critical {
    background-color: #DB634F;
}

.priority.important {
    background-color: #F3AE5D;
}

.priority.alarming {
    background-color: #EED648;
}

.priority.low {
    background-color: #78BA5D;
}

.kanban-title {
    flex: 100%;
}

.kanban-content {
    margin-top: 0.5em;
    font-weight: 500;
    white-space: pre-wrap;
    overflow-y: auto;
    max-height: 20em;
    overflow-wrap: anywhere;
}

.kanban-content::-webkit-scrollbar {
  width: 0.5em;
}

.kanban-content::-webkit-scrollbar-track {
  background: white;
  border-radius: 0.25em;
}

.kanban-content::-webkit-scrollbar-thumb {
  background: rgba(31,64,104,0.7);
  border-radius: 0.25em;
}

.kanban-content::-webkit-scrollbar-thumb:hover {
  background: rgba(31,64,104,0.8);
}

.unfocus {
    background: black;
    opacity: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    left: 0;
    top: 0;
    transition: opacity 0.7s;
    pointer-events: none;
}

.unfocus.active {
    opacity: 0.7;
    pointer-events: all;
}

.section-select {
    transition: 0.2s;
}

.section-select:hover {
    border: 3px dashed rgba(255,255,255,0.7);
    cursor: pointer;
}

.modal {
    background: linear-gradient(0deg, rgb(59, 121, 197) 0px, rgb(59, 121, 197) calc(100% - 3.5em), rgb(31,64,104) calc(100% - 3.5em), rgb(31,64,104) 100%);
    border-radius: 2em;    
    padding: 1em 0 0.5em;
    opacity: 0;
    position: absolute;
    width: 50vw;
    height: 50vh;
    z-index: 12;
    left: 25vw;
    top: 25vh;
    transition: 0.5s;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    transform: scale(0.9);
}

.modal.active {
    opacity: 1;
    pointer-events: all;
    transform: scale(1);
}

.modal .title {
    padding-bottom: 1.2em;
}

.add-header:before {
    content: 'Add New Kanban';
}

.edit-header:before {
    content: 'Edit Kanban';
}

.modal-content {
    padding: 1em;
    flex: 100%;
}

.modal-content .svg-button {
    cursor: auto;
}

textarea.kanban-content, input.kanban-title {
    border: none;
    background: #162447;
    outline: 0;
    resize: none;
}

button.priority {
    cursor: pointer;
}

.select-priority {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 15;
    left: -0.25em;
    top: 1.5em;
    border-radius: 0.5em;
    overflow: hidden;
    pointer-events: none;
}

.select-priority.active .select-option {
    transform: rotateX(0deg);
    pointer-events: all;
}

.select-priority .select-option:nth-child(1) {
    transition-delay: calc(3 * 0.1s);
}

.select-priority .select-option:nth-child(2) {
    transition-delay: calc(2 * 0.1s);
}

.select-priority .select-option:nth-child(3) {
    transition-delay: calc(1 * 0.1s);
}

.select-priority .select-option:nth-child(4) {
    transition-delay: calc(0 * 0.1s);
}

.select-priority.active .select-option:nth-child(1) {
    transition-delay: calc(0 * 0.1s);
}

.select-priority.active .select-option:nth-child(2) {
    transition-delay: calc(1 * 0.1s);
}

.select-priority.active .select-option:nth-child(3) {
    transition-delay: calc(2 * 0.1s);
}

.select-priority.active .select-option:nth-child(4) {
    transition-delay: calc(3 * 0.1s);
}

.select-option {
    width: 2.7em;
    height: 1.25em;
    padding: 0.5em;
    margin: 0;
    border: none;
    outline: 0; 
    cursor: pointer;
    position: relative;
    background: white;
    transform-origin: top;
    transform: rotateX(-90deg);
    transition: 0.2s;
}

.select-option:hover {
    background-color: #7c9fc9;
}

.select-option span {
    width: 2.2em;
    height: 0.5em;
    padding: 0;
    margin: 0;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-footer {
    flex: 4em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0.5em 0;
}

.modal-footer button {
    width: 10em;
    margin-right: 1em;
    border-radius: 1em;
    border: none;
    outline: 0;
    cursor: pointer;
    box-shadow: inset 0 0 0.5em 3px rgba(0,0,0,0.5);
    transition: 0.2s;
    font-weight: 600;
}

.modal-footer button.cancel, .modal.delete .modal-footer button.confirm {
    background: #d14f38;
}

.modal-footer button.confirm, .modal.delete .modal-footer button.cancel {
    background: #62b641;
}

.modal-footer button:hover {
    box-shadow: inset 0 0 1em 5px rgba(0,0,0,0.5);
}

.unfocus.uf-modal {
    z-index: 11;
}

.modal.delete {
    padding-left: 1em;
    width: auto;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}